*,
 body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body  {
  background-color: rgb(134, 132, 132);
}
ul {
  list-style: none;
}

main {
  margin: 1rem;
  display: grid;
  grid-template-columns: 33% 1fr;
  grid-gap: 1rem;
  filter: drop-shadow(0 0 0.3rem black); 
}
.personal,.skills {
  padding: 1.5rem;
  line-height: 2.5;
}
.left,.summary,.accomplishments,.experience,.education{
  background-color: #fff;
}
.left-image{
  position: relative;
}
.left-image img{
  width: 100%;
}
.left-image h2{
  position: absolute;
  bottom: 10rem;
  left: 7rem;
}
.summary,.accomplishments,.experience,.education {
  line-height: 2;
  padding: 1rem;
}
.experience li{
  margin: .4rem 0;
}
.date{
  color: rgb(121, 118, 118);
}
.accomplishments,.experience,.education{
  margin-top: 1rem;
}
i{
  color:   rgb(134, 132, 132);
}
footer{
  background-color: rgb(91, 134, 116);
  padding: 1.25rem 0;
  text-align: center ;
  line-height: 1.5;
}
footer i{
  color:   rgb(10, 9, 9);
}






